{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <v-container ma-0 pa-0>
        <v-row no-gutters>
            <v-col cols="12" md="6" lg="6" xl="4" >
                <v-sheet style="height: calc(100vh - 56px);">
                    <v-calendar color="primary" type="day" first-interval="15" interval-count="24" interval-minutes="30" :events="events" :value="today">
                        <template v-slot:day-header="{ present }">
                            <template v-if="present" class="text-center" >
                                Today
                            </template>
                        </template>
                    </v-calendar>
                </v-sheet>
            </v-col>
            <v-col cols="12"  md="6" lg="6" xl="8" >
                <v-card class="pa-2" outlined tile >
                    .col-6 .col-md-4
                </v-card>
            </v-col>
        </v-row>

    </v-container>





    <v-bottom-navigation app :value="value" color="primary">
        <v-btn @click="getPreviousDate()">
            <span>Précédent</span>

            <v-icon>mdi-chevron-left</v-icon>
        </v-btn>

        <v-btn @click="backToCurrentDate()">
            <span>Aujourd'hui</span>
        </v-btn>

        <v-btn @click="getNextDate()">
            <span>Suivant</span>

            <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
    </v-bottom-navigation>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}
