{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/calendar.css') }}">
{% endblock %}
{% block body %}
<v-container ma-0 pa-0 fluid>

    <v-container ma-0 pa-0 fluid class="hidden-sm-and-down">
        <v-row no-gutters>
            <v-col cols="12" md="6" lg="6" xl="4" >
                <v-sheet style="max-height: 100vh; height: 100vh;">
                    <v-calendar :dark="darkMode" color="primary" type="day" :first-interval="15" :interval-count="24" interval-minutes="30" :events="events" :value="today" @click:event="showEventDetails">

                        <template v-slot:day-header="{ day }">
                            <template v-if="day" class="text-center" >
                                <v-toolbar flat>
                                    <v-layout justify-center class="pa-0">

                                        <v-btn fab text small color="grey darken-2" @click="getPreviousDate()" >
                                            <v-icon small>
                                                mdi-chevron-left
                                            </v-icon>
                                        </v-btn>

                                        <v-btn outlined class="mx-4" color="grey darken-2" @click="backToCurrentDate()" >
                                            Aujourd'hui
                                        </v-btn>

                                        <v-btn fab text small color="grey darken-2" @click="getNextDate()" >
                                            <v-icon small>
                                                mdi-chevron-right
                                            </v-icon>
                                        </v-btn>

                                    </v-layout>

                                </v-toolbar>
                            </template>
                        </template>

                        <template v-slot:event="{event}">
                            <div class="fill-height pl-2">
                                <strong> ${ event.type } de ${ event.name } </strong> ( ${ event.professeur } ) <br/>
                                Salle ${ event.salle }
                            </div>
                        </template>

                    </v-calendar>
                </v-sheet>
            </v-col>


            <v-col cols="12"  md="6" lg="6" xl="8" >
                <v-sheet style="max-height: 100vh; height: 100vh;">
                    <h1 class="text-center">
                        Note ton prof !
                    </h1>
                    <v-divider class="py-5"></v-divider>
                        <v-row dense>
                            <v-col cols="6" sm="12" md="12" lg="6" xl="4" v-for="professeur in professeurs">


                                <v-card elevation="2" class="my-3 mx-3">
                                    <v-list-item three-line>
                                        <v-list-item-content>
                                            <div class="overline mb-4">
                                            <span v-for="matiere in professeur.matieres">
                                                ${ matiere.titre } (${ matiere.reference }),
                                            </span> <br>
                                            </div>
                                            <v-list-item-title class="headline mb-1">
                                                ${ professeur.prenom } ${ professeur.nom }
                                            </v-list-item-title>
                                            <v-list-item-subtitle>${ professeur.email }</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>

                                    <v-card-actions>
                                        <v-btn outlined rounded text @click="showNotice(professeur)" :disabled="professeur.id === professeurCourant?.id">
                                            Afficher les avis
                                        </v-btn>
                                        <v-btn outlined rounded text @click="showCreateNotice(professeur)">
                                            Noter
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>


                            </v-col>
                        </v-row>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>


    <v-container ma-0 pa-0 class="hidden-md-and-up" >
        <v-row no-gutters>
            <v-col cols="12" >
                <v-sheet style="height: calc(100vh - 56px);">
                    <v-calendar :dark="darkMode" color="primary" type="day" :first-interval="15" :interval-count="24" interval-minutes="30" :events="events" :value="today" @click:event="showEventDetails">
                    </v-calendar>
                </v-sheet>
            </v-col>
        </v-row>
        <v-bottom-navigation app :value="value" :dark="darkMode" color="primary">
            <v-btn @click="getPreviousDate()">
                <span>Précédent</span>

                <v-icon>mdi-chevron-left</v-icon>
            </v-btn>

            <v-btn @click="backToCurrentDate()">
                <span>Aujourd'hui</span>
            </v-btn>

            <v-btn @click="getNextDate()">
                <span>Suivant</span>

                <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
        </v-bottom-navigation>
    </v-container>

    <v-dialog v-model="showSmallSizeDialog" max-width="800" hide-overlay transition="dialog-bottom-transition" >
        <v-card>
            <v-card-title>
                <v-btn icon class="pr-5" @click="showSmallSizeDialog = false, currentClassInformations = {}" >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <span class="headline">Détails</span>
            </v-card-title>
             <div>

                <v-list two-line>
                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon color="indigo">
                                mdi-school
                            </v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>Nom du module</v-list-item-title>
                            <v-list-item-subtitle>${ currentClassInformations.name }</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-list-item>
                        <v-list-item-action></v-list-item-action>

                        <v-list-item-content>
                            <v-list-item-title>Type</v-list-item-title>
                            <v-list-item-subtitle>${ currentClassInformations.type }</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>


                    <v-list-item>
                        <v-list-item-action></v-list-item-action>

                        <v-list-item-content>
                            <v-list-item-title>Salle</v-list-item-title>
                            <v-list-item-subtitle>${ currentClassInformations.salle }</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-divider inset></v-divider>

                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon color="indigo">
                                mdi-account
                            </v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>Enseignant</v-list-item-title>
                            <v-list-item-subtitle>${ currentClassInformations.professeur }</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>

                    <v-divider inset></v-divider>

                    <v-list-item>
                        <v-list-item-icon>
                            <v-icon color="indigo">
                                mdi-clock
                            </v-icon>
                        </v-list-item-icon>

                        <v-list-item-content>
                            <v-list-item-title>Horaires</v-list-item-title>
                            <v-list-item-subtitle>${ getOnlyHourseOfDate(currentClassInformations.start) } : ${ getOnlyHourseOfDate(currentClassInformations.end) }</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </div>
        </v-card>
    </v-dialog>

    <v-dialog v-model="showNoticeDialog" fullscreen hide-overlay transition="dialog-bottom-transition" >
        <v-card>
            <v-toolbar dark color="primary" >
                <v-btn icon dark @click="showNoticeDialog = false, professeurCourant = {}" >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Avis sur ${ professeurCourant?.prenom } ${ professeurCourant?.nom }</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <div class="card mt-1" v-for="avisCourant in avis">
                <v-card elevation="2" class="my-3 mx-3">
                    <v-list-item three-line>
                        <v-list-item-content>
                            <v-rating
                                    background-color="green lighten-3"
                                    color="green"
                                    readonly
                                    medium
                                    v-model="avisCourant.note"
                            ></v-rating>
                            <div class="headline mb-1">
                                ${ avisCourant.commentaire }
                            </div>
                            <div>Commentaire de : ${ avisCourant.emailEtudiant } </div>

                            <v-card-actions>
                                <v-btn outlined rounded text @click="deleteAvis(avisCourant)" v-if="mesAvis.filter(avis => avis.id === avisCourant.id).length === 1">
                                    Supprimer
                                </v-btn>
                            </v-card-actions>
                        </v-list-item-content>
                    </v-list-item>
                </v-card>
            </div>
        </v-card>
    </v-dialog>

    <v-dialog v-model="showCreateNoticeDialog" fullscreen hide-overlay transition="dialog-bottom-transition" >
        <v-card>
            <v-toolbar dark color="primary" >
                <v-btn icon dark @click="showCreateNoticeDialog = false, professeurCourant = {}" >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Créer un avis sur ${ professeurCourant?.prenom } ${ professeurCourant?.nom }</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-container>
                <v-form ref="form" v-model="valid" lazy-validation >



                    <v-text-field v-model="nouvelAvis.emailEtudiant" :rules="emailRules" label="Email étudiant" required ></v-text-field>


                    <v-textarea v-model="nouvelAvis.commentaire"  label="Commentaire" required ></v-textarea>

                    <label>Note :</label>
                    <v-rating
                            v-model="nouvelAvis.note"
                            background-color="green lighten-3"
                            hover
                            color="green"
                    ></v-rating>

                    <div class="pt-5">
                        <v-alert dense outlined type="error" v-for="error in errors">
                            ${ error }
                        </v-alert>
                    </div>

                    <v-divider class="py-5"></v-divider>
                    <v-btn :disabled="!valid" color="success" class="mr-4" @click="postAvis()" >
                        Ajouter l'avis
                    </v-btn>

                    <v-btn color="error" class="mr-4" @click="showCreateNoticeDialog = false, professeurCourant = {}" >
                        Annuler
                    </v-btn>
                </v-form>
            </v-container>


        </v-card>
    </v-dialog>

</v-container>



{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}
