{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/calendar.css') }}">
{% endblock %}
{% block body %}
<v-container fluid>

    <v-container fluid class="hidden-sm-and-down">
        <v-app-bar app :value="value" :dark="darkMode" color="primary">
            <v-btn @click="getPreviousDate()">
                <span>Précédent</span>

                <v-icon>mdi-chevron-left</v-icon>
            </v-btn>

            <v-btn @click="backToCurrentDate()">
                <span>Aujourd'hui</span>
            </v-btn>

            <v-btn @click="getNextDate()">
                <span>Suivant</span>

                <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
        </v-app-bar>
        <v-row no-gutters>
            <v-col cols="12" md="6" lg="6" xl="4" >
                <v-sheet style="height: 100vh; padding-top: 64px">
                    <v-calendar :dark="darkMode" color="primary" type="day" :first-interval="15" :interval-count="24" interval-minutes="30" :events="events" :value="today" @click:event="showEventDetails">

                    </v-calendar>
                </v-sheet>
            </v-col>
            <v-col cols="12"  md="6" lg="6" xl="8" >
                <v-sheet style="height: 100vh; padding-top: 64px">
                    <h1 class="text-center">
                        Note ton prof !
                    </h1>
                    <v-divider class="py-5"></v-divider>
                        <v-row dense>
                            <v-col cols="6" sm="12" md="12" lg="6" xl="4" v-for="professeur in professeurs">


                                <v-card elevation="2" class="my-3 mx-3">
                                    <v-list-item three-line>
                                        <v-list-item-content>
                                            <div class="overline mb-4">
                                            <span v-for="matiere in professeur.matieres">
                                                ${ matiere.titre } (${ matiere.reference }),
                                            </span> <br>
                                            </div>
                                            <v-list-item-title class="headline mb-1">
                                                ${ professeur.prenom } ${ professeur.nom }
                                            </v-list-item-title>
                                            <v-list-item-subtitle>${ professeur.email }</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>

                                    <v-card-actions>
                                        <v-btn outlined rounded text @click="showNotice(professeur)" :disabled="professeur.id === professeurCourant?.id">
                                            Afficher les avis
                                        </v-btn>
                                        <v-btn outlined rounded text>
                                            Noter
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>


                            </v-col>
                        </v-row>




                </v-sheet>
            </v-col>
        </v-row>
    </v-container>


    <v-container ma-0 pa-0 class="hidden-md-and-up" >
        <v-row no-gutters>
            <v-col cols="12" >
                <v-sheet style="height: calc(100vh - 56px);">
                    <v-calendar :dark="darkMode" color="primary" type="day" :first-interval="15" :interval-count="24" interval-minutes="30" :events="events" :value="today" @click:event="showEventDetails">
                    </v-calendar>
                </v-sheet>
            </v-col>
        </v-row>
        <v-bottom-navigation app :value="value" :dark="darkMode" color="primary">
            <v-btn @click="getPreviousDate()">
                <span>Précédent</span>

                <v-icon>mdi-chevron-left</v-icon>
            </v-btn>

            <v-btn @click="backToCurrentDate()">
                <span>Aujourd'hui</span>
            </v-btn>

            <v-btn @click="getNextDate()">
                <span>Suivant</span>

                <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
        </v-bottom-navigation>
    </v-container>

    <v-dialog v-model="showSmallSizeDialog" fullscreen hide-overlay transition="dialog-bottom-transition" >
        <v-card>
            <v-toolbar dark color="primary" >
                <v-btn icon dark @click="showSmallSizeDialog = false, currentClassInformations = {}" >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Information sur le cours "${ currentClassInformations.name }"</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
        </v-card>
    </v-dialog>

    <v-dialog v-model="showNoticeDialog" fullscreen hide-overlay transition="dialog-bottom-transition" >
        <v-card>
            <v-toolbar dark color="primary" >
                <v-btn icon dark @click="showNoticeDialog = false, professeurCourant = {}" >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Avis sur ${ professeurCourant?.prenom } ${ professeurCourant?.nom }</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <div class="card mt-1" v-for="avisCourant in avis">
                <v-card elevation="2" class="my-3 mx-3">
                    <v-list-item three-line>
                        <v-list-item-content>
                            <v-rating
                                    background-color="green lighten-3"
                                    color="green"
                                    readonly
                                    medium
                                    v-model="avisCourant.note"
                            ></v-rating>
                            <div class="headline mb-1">
                                ${ avisCourant.commentaire }
                            </div>
                            <div>Commentaire de : ${ avisCourant.emailEtudiant } </div>

                        </v-list-item-content>
                    </v-list-item>
                </v-card>
            </div>
        </v-card>
    </v-dialog>

</v-container>



{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}
