{% extends 'base.html.twig' %}

{% block title %}Agenda de la salle{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <v-container  ma-0 pa-0 fluid>
        <v-app-bar :collapse="true" absolute color="deep-purple accent-4" dark scroll-target="#scrolling-techniques-6">
            <v-spacer></v-spacer>
            <v-btn icon href="{{ path('home') }}">
                <v-icon>mdi-home</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
        </v-app-bar>
        <v-sheet style="max-height: 100vh; height: 100vh;">
            <a v-for="salle in salles">
                ${ salle.id }
            </a>
        </v-sheet>

    </v-container>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/calendar_list_salle.js') }}"></script>
{% endblock %}
